<ul>
	<li ng-repeat="item in toaletter">
		<a href="#/undersida/{{toaletter.indexOf(item)}}">
			<p>{{item.namn}} 
				<i class="icon-right-open icon-in-list" ></i>
				<!-- <img class="ikon" src="bilder/{{item.ikon}}.png" alt="kostnad"> -->
			</p>
            <span ng-if="item.gratis != 'Ja'"><img class="ikon" src="bilder/vektordollar.png" alt="kostnad"></span>
            <span ng-if="item.handikappanpassad == 'Ja'"><img class="ikon" src="bilder/vektorrullstol.png" alt="kostnad"></span>
            <span ng-if="item.skotbord == 'Ja'"><img class="ikon" src="bilder/vektornapp.png" alt="kostnad"></span>
		</a>
	</li>
</ul> 