<ul>
	<li ng-repeat="item in toaletter">
		<a href="undersida.html">
			<p>{{item.namn}} 
				<i class="icon-right-open icon-in-list" ></i>
				<!-- <script>
					if (condition) { //om gratis i toaletter.json är lika med nej - skriv ut vektordollar. om handdikappsanpassad i toaletter.json är lika med ja - skriv ut vektorrullstol. om skotbord i toaletter.json är lika med ja - skriv ut vektornapp.
						block of code to be executed if the condition is true
					} 
				</script> -->
				<img class="ikon" src="bilder/{{item.ikon}}.png" alt="kostnad">
			</p>
		</a>
	</li>
</ul> 