<div ng-model="toaletter">
	<h3>{{toaletter[whichItem].namn}}</h3>
	<p class="info-text"><span class="tjocktext">Öppettider:</span> {{toaletter[whichItem].oppettider}}</p>
	<p class="info-text"><span class="tjocktext">Gratis:</span> {{toaletter[whichItem].gratis}}</p>
	<p class="info-text"><span class="tjocktext">Handdikappsanpassad:</span> {{toaletter[whichItem].handikappanpassad}}</p>
	<p class="info-text"><span class="tjocktext">Skötbord:</span> {{toaletter[whichItem].skotbord}}</p>
</div>

<!-- Tillbakaknapp -->
<a href="index.html">
	<div id="tillbaka">
		<h2><i class="icon-left-open icon-tillbaka" ></i>Tillbaka</h2>  
	</div>
</a>