<!-- Karta -->
<div data-ng-controller="MarkerController">
	<div id="map-canvas"></div>
	<div class="row" ng-show="error">
		Error : {{error}}
		Error Code: {{error.code}}
	</div> 
</div>

<div ng-model="toaletter">
	<h3>{{toaletter[whichItem].namn}}</h3>
	<p class="info-text"><span class="tjocktext">Öppettider:</span> {{toaletter[whichItem].oppettider}}</p>
	<p class="info-text"><span class="tjocktext">Gratis:</span> {{toaletter[whichItem].gratis}}</p>
	<p class="info-text"><span class="tjocktext">Handdikappsanpassad:</span> {{toaletter[whichItem].handikappanpassad}}</p>
	<p class="info-text"><span class="tjocktext">Skötbord:</span> {{toaletter[whichItem].skotbord}}</p>
</div>

<!-- Detaljerad vägbeskrivning -->
			<script type="text/javascript"> 
				function toggle() {
					var ele = document.getElementById("toggleText");
					if(ele.style.display == "block") {
							ele.style.display = "none";
					}
					else {
						ele.style.display = "block";
					}
				} 
			</script>
			 
			<a id="displayText" href="javascript:toggle();">
				<div id="vagbeskrivning-knapp">
					Detaljerad vägbeskrivning<i class="icon-down-open icon-in-list" ></i>
				</div> 
			</a>
			<div id="toggleText" style="display: none">
				<div id="map-directions"> </div>
			</div>

<!-- Tillbakaknapp -->
<a href="index.html">
	<div id="tillbaka">
		<h2><i class="icon-left-open icon-tillbaka" ></i>Tillbaka</h2>  
	</div>
</a>