/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- End ----- */



/* HÄR UNDER SKRIVER VI ALL CSS! SKRIV INGET ÖVER DEN HÄR RADEN */


body {
	background-color: #D4D6D4;
}

header {
    background: #0C6BA1;
}


h1 {
    font-size: 2em;
    padding-top: 50px;
    text-align: center;
    background: #0C6BA1;
    color: #FFFDEB;
    height: 50px;
	font-family: 'Source Sans Pro', sans-serif;
}

.logga {
    width: 60px;
    float: left;
    padding-top: 20px;
    padding-left: 30px;
}

#sweden{
    width: 50px;
    float: right;
    padding-top: 30px;
    margin-right: -75px;
}

#english{
    width: 50px;
    float: right;
    padding-top: 30px;
    margin-right: 20px;
}

.content {
	width: 90%;
	margin: 0 auto; 
	font-family: 'Open Sans', sans-serif;

}

li {
	background-color: #0C6BA1;
	color: #FFFDEB;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 6%;
    font-size: 1.1em;
    
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
	margin: 0;
	display: inline-block;
	font-size: 1.1em;
}

.icon-in-list {
	color: #FF7500;
	float: right;
	/*font-size: 2em; */
	padding-right: 6%;
}

.icon-tillbaka{
 	color: #FF7500;
	float: left;
	/*font-size: 2em;*/
}

.tjocktext {
    font-weight: bold;
}

a {
	text-decoration: none;
	color: #FFFDEB;
}

#tillbaka{ 
	background: #0C6BA1;
    color: #FFFDEB;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 6%;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
}

h3 {
	margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
  
}

.info-text {
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
	padding-left: 6%;
    
}

#wrapper {
	padding-top: 15px;
	padding-bottom: 15px;

}

#mapcontainer {
	width: 100%;
}

#vagbeskrivning-knapp {
	background-color: #0C6BA1;
	color: #FFFDEB;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 6%;
    font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
}

a#displayText {
	color: #FFFDEB;

}

#map {
	width: 100%;
	height: 300px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#map-directions {
	width: 100%;
}

.ikon {
	float: right;
	height: 25px;
	padding-right: 2%;
	margin-top: -20px;
}

.ng-enter, .ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.ng-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}

.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.ng-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}

.ng-leave.ng-leave-active {
  left:-100px;
  opacity:0;
}

#map-canvas {
   	width: 100%;
	height: 300px;
	margin-top: 30px;
	margin-bottom: 30px;
}
