/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- End ----- */



/* HÄR UNDER SKRIVER VI ALL CSS! SKRIV INGET ÖVER DEN HÄR RADEN */


body {
	font-size: 1em;
	background-color: #D4D6D4;
}

h1 {
    font-size: 85px;
    padding-top: 80px;
    text-align: center;
    background: #0C6BA1;
    color: #FFFFFF;
    height: 130px;
	font-family: 'Source Sans Pro', sans-serif;
}

img {
    width: 150px;
    background: #0C6BA1;
    float: left;
    padding-top: 40px;
    padding-left: 70px;
}

#sweden{
    width: 50px;
    float: right;
    padding-top: 30px;
    margin-right: -75px;
}

#english{
    width: 50px;
    float: right;
    padding-top: 30px;
    margin-right: 20px;
}

.content {
	width: 90%;
	margin: 0 auto; 
	font-family: 'Open Sans', sans-serif;

}

li {
	background-color: #0C6BA1;
	color: #FFFDEB;
	margin-bottom: 15px;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.icon-in-list {
	color: #FF7500;
	float: right;
	font-size: 2em;
}

.icon-tillbaka{
 	color: #FF7500;
	float: left;
	font-size: 2em;   
}

.tjocktext {
    font-weight: bold;
}

a {text-decoration:none;}
#tillbaka{ background: #0C6BA1;
    color: #FFFFFF;
    padding: 6%;
    margin-top: 15%;
    font-family: 'Open Sans', sans-serif;


}

h3 {
	padding-top: 10%;
    padding-bottom: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 7em;
    font-weight: bold;
}

p {
	padding-top: 4%;
    font-size: 2.2em;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
	padding-top: 15px;
	padding-bottom: 15px;
}

#mapcontainer {
	width: 100%;
}

#vagbeskrivning-knapp {
background-color: #0C6BA1;
color: #FFFFFF;
padding-bottom:50px;
padding-top: 50px;
font-family: 'Open Sans', sans-serif;
}

a#displayText {
	color: #FFFFFF;

}

